<h1><%= @flat.name %></h1>

<p><%= @flat.description %></p>
<i class="fa-solid fa-user"><%= @flat.number_of_guests %></i>
<i class="fa-solid fa-euro-sign"><%= @flat.price_per_night %></i>

<%= link_to "Back", flats_path %>
